body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}
.all-content {
    margin: 0 auto;
    width: 98vw;
    padding: 0;
}
.header {
    background-color: #cce4f7;
    padding: 10px;
    text-align: center;
    color: #333;
}
.title-page{
    text-align: center;
}
.header img {
    vertical-align: middle;
}

.header span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.left-panel,
.right-panel {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
}

.left-panel {
    margin-right: 20px;
    width: 45%;
}

.right-panel {
    width: 45%;
}

.left-panel img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.left-panel h2,
.right-panel h2 {
    margin-top: 0;
}

.left-panel p,
.right-panel p {
    margin: 5px 0;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn-container button:hover {
    background-color: #45a049;
}

.right-panel label {
    display: block;
    margin-top: 10px;
}

.right-panel input,
.right-panel textarea {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.right-panel input[type="text"],
.right-panel input[type="number"] {
    height: 30px;
}
