.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 100%;
  overflow-x: auto;
}

.room-card {
  flex: 0 1 32%; /* Ajusta el ancho de cada tarjeta */
  box-sizing: border-box;
  margin: 16px 0; /* Espacio vertical entre las tarjetas */
  max-width: 32%; /* Asegura que cada tarjeta no exceda el tamaño deseado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}


.room-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.room-card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.room-card-text {
  margin-bottom: 10px;
}

.room-card-text-user {
  font-size: 18px;
  font-weight: bold;
  color: #337ab7;
}

.star {
  margin-bottom: 20px;
}

.star i {
  color: #ffd700;
  margin-right: 5px;
}

.room-card-buttons {
  margin-top: 20px;
}

.room-card-button {
  background-color: #27c834;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.room-card-button:hover {
  opacity: 0.8;
}