.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  margin: 20px;
  width: 100% auto ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.room-card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.room-card-text {
  margin-bottom: 10px;
}

.room-card-text-user {
  font-size: 18px;
  font-weight: bold;
  color: #337ab7;
}

.star {
  margin-bottom: 20px;
}

.star i {
  color: #ffd700;
  margin-right: 5px;
}

.room-card-buttons {
  margin-top: 20px;
}

.room-card-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.room-card-button.bg-primary {
  background-color: #337ab7;
}

.room-card-button.bg-secondary {
  background-color: #666;
}

.room-card-button.bg-danger {
  background-color: #dc3545;
}

.room-card-button:hover {
  opacity: 0.8;
}