*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

.all-content {
    margin: 0 auto;
    width: 100vw;
    padding: 0;
}

.main-text h1 {
    text-align: center;
    text-shadow: #aeffe9;
    /* Cambio de color */
    color: #ffffff;
}

.main-text h1 span {
    color: #1e3bb0;
}